<div class="container pdMargin fadeIn ">
  <div class="card text-white bg-dark rounded">
    <div class="card-header">Projeto de Estudos</div>
    <div class="card-body">
      <h5 class="card-title">Sobre o site</h5>
      <p class="card-text">
        Esse site está sendo desenvolvido em Angular.
        Nele, haverá um formulário para cadstro onde chamará uma API em Dotnet.Core que fará a inclusão
        dos dados em um banco não relacional, no caso, MongDB.
        <br>
        Em um segundo momento, será implementando um leitor de LOGs. Farei a gravação dos logs no ElasticSearch,
        e consequentemente um agente como Kibana ou Zabbix fará a leitura.
        <br>
        Por final, cada um dos projetos subirão no docker.
      </p>
      <div class="container">
        <div class="row justify-content-around">
          <img class="img-home col-xs-3" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
          <img class="img-home col-xs-3 " alt="MongoDB" src="./resources/mongodb.png">
          <img class="img-home col-xs-3 " alt="DotNetCore Logo" src="./resources/dotnet-core.jpg">
          <img class="img-home col-xs-3 " alt="Docker" src="./resources/docker.png">
        </div>
      </div>
    </div>
  </div>
</div>
