<div class="container fadeIn">
  <div class="border border shadow p-3 mb-5 bg-white rounded pdMargin">
    <form >
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label>Nome</label>
          <input (keyup)="nome = $event.target.value" type="text" class="form-control"placeholder="Primeiro Nome">
        </div>
        <div class="col-md-4 mb-3">
          <label>Sobrenome</label>
          <input (keyup)="sobrenome = $event.target.value" type="text" class="form-control" placeholder="Segundo Nome" >
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label>Cidade</label>
          <input (keyup)="cidade = $event.target.value" type="text" class="form-control" placeholder="Cidade">
        </div>
        <div class="col-md-3 mb-3">
          <label>Estado</label>
          <input (keyup)="estado = $event.target.value" type="text" class="form-control" placeholder="Estado">
        </div>
        <div class="col-md-3 mb-3">
          <label>CEP</label>
          <input (keyup)="cep = $event.target.value" type="text" class="form-control"  placeholder="000000000">
        </div>
      </div>
      <button (click)="cadastrar()" class="btn btn-dark">Cadastrar</button>
    </form>
  </div>
</div>

