<div class="container fadeIn">
  <div class="border border shadow p-3 mb-5 bg-white rounded pdMargin">
    <form class="needs-validation" novalidate>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationCustom01">Nome</label>
          <input type="text" class="form-control" id="validationCustom01" placeholder="Primeiro Nome" required>
          <div class="valid-feedback">
            Ok!
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom02">Sobrenome</label>
          <input type="text" class="form-control" id="validationCustom02" placeholder="Segundo Nome"  required>
          <div class="valid-feedback">
            Ok!
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationCustom03">Cidade</label>
          <input type="text" class="form-control" id="validationCustom03" placeholder="Cidade" required>
          <div class="invalid-feedback">
            Por favor, digite a cidade!
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationCustom04">Estado</label>
          <input type="text" class="form-control" id="validationCustom04" placeholder="Estado" required>
          <div class="invalid-feedback">
            Por favor digite o estado!
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationCustom05">CEP</label>
          <input type="text" class="form-control" id="validationCustom05" placeholder="000000000" required>
          <div class="invalid-feedback">
            Insira um CEP válido!
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">
            Aceito os termos e condições.
          </label>
          <div class="invalid-feedback">
            Você deve aceitar os termos e condições!
          </div>
        </div>
      </div>
      <button class="btn btn-dark" type="submit">Cadastrar</button>
    </form>
  </div>
</div>

