<div class="container fadeIn">
  <div class="row btn-pesquisa">
    <div class="col 3">
      <button (click)="consulta()" type="button" class="btn btn-outline-dark">Consultar</button>
    </div>
  </div>

  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">Cidade</th>
        <th scope="col">Estado</th>
        <th scope="col">CEP</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pessoa">
        <th scope="row"></th>
        <td>{{ item.nome }}</td>
        <td>{{ item.sobrenome }}</td>
        <td>{{ item.cidade }}</td>
        <td>{{ item.estado }}</td>
        <td>{{ item.cep }}</td>
      </tr>
    </tbody>
  </table>

</div>
