<div class="container fadeIn">
  <div class="border border-top-0 shadow p-3 mb-5 bg-white rounded pdMargin">
    <form>
      <div class="form-group row">
        <div class="col-9">
          <input type="text" class="form-control btn-lb-cpf" id="formGroupExampleInput" placeholder="Digite o CPF">
        </div>
        <div class="col 1">
            <!-- <button type="button" class="btn btn-outline-dark">Consultar</button> -->
            <fa class="icon-search"  name="search"></fa>
        </div>
      </div>
    </form>
  </div>
</div>